body {
    font-size: large;
    background-color: whitesmoke;
    margin: 1rem;
}

.form-label {
    font-size: large;
    margin-top: 1rem;
}

button, a {
    margin-top: 1rem;
}

.by-line {
    font-style: italic;
}

#tag-label {
    font-weight: bold;
    font-size: medium;
}

form > h4 {
    margin-top: 1rem;
}