body {
    font-size: large;
    background-color: whitesmoke;
    margin: 1rem;
}

label {
    font-size: large;
    margin-top: 1rem;
}

button, a {
    margin-top: 1rem;
}

.by-line {
    font-style: italic;
}