<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cupcakes!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/cupcakes.css'>
</head>
<body>
    
    <body class="container">
        <div class="row">
            <div class="col-3"></div>
            <section id="content" class="col-6">
                <h1>Cupcakes!</h1>
                {% include '_cupcake_form.html' %}
                <button id="add-cupcake" class="btn btn-primary">Add Cupcake!</button>

                <h3>Our Cupcakes:</h3>
                <ul id="cupcakes">
                    <!-- Empty for now -->
                </ul>
            </section>
            <div class="col-3"></div>
        </div>
    </body>

    

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src='/static/cupcakes.js'></script>
</body>
</html>