{% extends 'base.html' %}

{% block title %}
Create Post
{% endblock %}

{% block content %}
<h1>Create a post</h1>
<p class="by-line">by <a href="/users/{{ user.id }}">{{ user.full_name }}</a></p>
<form action="/users/{{ user.id }}/posts/new" method="POST">
    <label for="title" class="form-label form-label-lg">Title</label>
    <input name="title" type="text" class="form-control form-control-lg" 
           placeholder="Enter a title for your post">

    <label for="content" class="form-label form-label-lg">Content</label>
    <textarea name="content" type="textarea" class="form-control form-control-lg" 
           placeholder="Enter contents here" rows="5"></textarea>

    <h4>Tags</h4>
    {% for tag in tags %}
    <div class="form-check">
       <label for="tag_{{ tag.id }}" class="form-check-label">{{ tag.name }}</label>
       <input id="tag_{{ tag.id }}"name="tags" class="form-check-input" type="checkbox" value="{{ tag.id }}">
    </div>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">Post</button>
    <button type="submit" class="btn btn-outline-warning"
            formaction="/users/{{ user.id }}"
            formmethod="GET">Cancel</button>
</form>
{% endblock %}