{% extends 'base.html' %}

{% block title %}
Create User
{% endblock %}

{% block content %}
<h1>Create a user</h1>
<form action="/users/new" method="POST">
    <label for="first-name" class="form-label form-label-lg">First Name</label>
    <input name="first-name" type="text" class="form-control form-control-lg" 
           placeholder="Enter a first name">

    <label for="last-name" class="form-label form-label-lg">Last Name</label>
    <input name="last-name" type="text" class="form-control form-control-lg" 
           placeholder="Enter a last name">

    <label for="image-url" class="form-label form-label-lg">Image URL</label>
    <input name="image-url" type="text" class="form-control form-control-lg" 
           placeholder="Provide and image of this user">

    <button type="submit" class="btn btn-primary">Add</button>
    <button type="submit" class="btn btn-warning"
            formaction="/users"
            formmethod="GET">Cancel</button>
</form>
{% endblock %}