{% extends 'base.html' %}

{% block title %}
{{ user.full_name }}
{% endblock %}

{% block content %}
<div class="card">
    <img class="card-img-top" src="{{ user.image_url }}" alt="User Profile">
    <div class="card-body">
        <h5 class="card-title">{{ user.full_name }}</h5>
        <p>{{ user.bio }}</p>
        <h5 class="card-title">Posts</h5>
        {% if user.posts|length > 0 %}
        <ul>
            {% for p in user.posts %}
            <li><a href="/posts/{{ p.id }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No posts yet )=</p>
        {% endif %}
        <form>
            <button class="btn btn-success"
                    formaction="/users/{{ user.id }}/posts/new">Post something!</button>
            <button class="btn btn-primary"
                    formaction="/users/{{ user.id }}/edit">Edit</button>
            <button class="btn btn-outline-danger"
                    formaction="/users/{{ user.id }}/delete"
                    formmethod="POST">Delete</button>
        </form>
    </div>
</div>
<a href="/users" class="btn btn-primary">Home</a>
{% endblock %}