<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Boggle!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' type='text/css' media='screen' href='/static/boggle.css'>
</head>
<body>
    
    <div id="sidebar">
        <h1>Boggle!</h1>
        {% block sidebar %}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}        
        <div id="alerts">
            <span id="msg-alert" class="alert"></span>
        </div>
    </div>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src='/static/boggle.js'></script>
</body>
</html>