.DeckOfCards {
    padding: 1rem;
}

.DeckOfCards-draw {
    padding: 1rem;
    background-color: darkblue;
    border-radius: 1rem;
    font-size: larger;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.DeckOfCards-draw:hover {
    background-color: cornflowerblue;
    color: darkblue;
}

.DeckOfCards-draw:disabled {
    background-color: lightgray;
    color: black;
}