{{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
{% for field in form
        if field.widget.input_type != 'hidden' %}

    <div class='form-group'>
        {{ field.label }}

        {% if field.type == "BooleanField" %}
            {{ field(class_="form-check-input") }}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}

        {% for error in field.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
    </div>

{% endfor %}