{% extends 'base.html' %}

{% block title %}
{{ pet.name }}
{% endblock %}

{% block content %}
<div class="card">
    <img class="card-img-top" src="{{ pet.image_url() }}" alt="Pet Photo">
    <div class="card-body">
        <h5 class="card-title">{{ pet.name }}</h5>
        <ul>
            <li>Species: {{ pet.species }}</li>
            <li>Age: 
                {% if pet.age %}
                    {{ pet.age }}
                {% else %}
                    Unknown
                {% endif %}
            </li>
        </ul>
        <form id="edit-pet-form" method="POST">
            {% include '_pet_form.html' %}
            
            <button type="submit" class="btn btn-primary">Edit</button>
            <button class="btn btn-outline-primary"
                    formaction="/"
                    formmethod="GET">Back</button>
        </form>
        
    </div>
</div>

{% endblock %}